.header-container {
	background: #7028E5;
	text-align: center;
	padding: 1.8rem 1rem;
	color: white;
	display: flex;
	justify-content: space-between;
	align-items: center;
	position: relative;
}

.logo {
	width: 64px;
	aspect-ratio: 1;
}

.infos-icon {
  cursor: pointer;
  width: 32px;
  color: white;
}

.infos{
	position: absolute;
	text-align: left;
	top: 120px;
	padding: 4px;
	/* left: 72%; */
	right: 1%;
	color: white;
	background-color: #946cd3;
	border-top: 1px solid #7028E5;
	border-radius: 0 0 5px 5px;
}

.info-list-item {
   list-style-position: inside;
   list-style-type: square;

}

.info-list-item::marker {
    font-size: 150%;
}

ul li:first-child::marker {
    color: green;
}

ul li:nth-child(2)::marker {
  color: orange;
}

ul li:nth-child(3)::marker {
  color: red;
}

