<header class="header-container">
  <img class="logo" src="/assets/logo42.svg" alt="42 School's logo">
  <h1>Don't Panic Baby</h1>
  <img class="infos-icon" src="/assets/info.svg" (click)="toggleInfo()">
  <div class="infos" *ngIf="showInfo">
    <ul>
      <li class="info-list-item">Green: It's the correct number in the right spot</li>
      <li class="info-list-item">Orange: It's the right number in the wrong spot</li>
      <li class="info-list-item">Red: The number isn't in any spot</li>
    </ul>

  </div>
</header>
