<header class="header-container">
  <img class="logo" src="/assets/logo42.svg" alt="42 School's logo">
  <h1>Don't Panic Baby</h1>
  <img class="infos-icon" src="/assets/info.svg" (click)="toggleInfo()">
  <div class="infos" *ngIf="showInfo">
    <ul>
      <li class="info-list-item">Verde: É o número certo e está na posição correta</li>
      <li class="info-list-item">Laranja: Contém o número, porém esta na posição errada</li>
      <li class="info-list-item">Vermelho: Não contém o número</li>
    </ul>

  </div>
</header>
